<div class="row">
  <div class="col-md-8">
  	<div class="row">
  		<!--<div class="alert alert-danger" role="alert">喵喵日记当前开发中……</div>-->
  		<div class="well alert-info">
	  		<h4>喵喵日记 - 多人分享日记社区 公开的 快乐的</h4>
	  		<h5>此时已有0位朋友创建了0本日记, 写下了0件小事，0个秘密，0条心愿</h5>
	  	</div>
  	</div>
  	<div class="row body-news">
  		<h4>最新日记</h4>
  	</div>
  	<% for(var i = 0;i < 10;i++){ %>
  	<div class="row">
  		<div class="alert alert-success" role="alert">
			<div class="row">
				<div class="col-sm-2">
					<a href="#" class="thumbnail">
						<img src="./avatar/null.gif" />
					</a>
				</div>
				<div class="col-sm-10">
					<div class="caption">
						<a href="#" class="alert-link"><h5>美羊羊的日记</h5></a>
						<h5>
							<span class="label label-primary">发表：2016-01-29 13:13:33</span>
							<span class="label label-primary">心情：美丽</span>
							<span class="label label-primary">类别：成长</span>
							<span class="label label-primary">坐标：北京</span>
						</h5>
						<div class="well alert-info">
							<p class="text-success">
								哎~最近皮肤越来越不好了，求各位说说好友~推荐一款护肤品~求助
								哎~最近皮肤越来越不好了，求各位说说好友~推荐一款护肤品~求助
								哎~最近皮肤越来越不好了，求各位说说好友~推荐一款护肤品~求助
								
							</p>
						</div>
						<div class="row">
							<div class="col-sm-12 text-right">
								<button type="button" class="btn btn-default btn-xs">0 回复</button>
								<button type="button" class="btn btn-default btn-xs">0 阅读</button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
  	</div>
  	<%}%>
  	<div class="row">
  		<ul class="pagination">
			<li class="disabled"><a href="#" aria-label="Previous"><span aria-hidden="true">«</span></a></li>
			<li class="active"><a href="#">1 <span class="sr-only">(current)</span></a></li>
			<li><a href="#">2</a></li>
			<li><a href="#">3</a></li>
			<li><a href="#">4</a></li>
			<li><a href="#">5</a></li>
			<li><a href="#">6</a></li>
			<li><a href="#">7</a></li>
			<li><a href="#">8</a></li>
			<li><a href="#">9</a></li>
			<li><a href="#" aria-label="Next"><span aria-hidden="true">»</span></a></li>
		</ul>
  	</div>
  </div>
  <div class="col-md-4">
  	<div class="row">
  		123
  	</div>
  </div>
</div>