<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
    	<meta name="viewport" content="width=device-width, initial-scale=1">
   		<meta name="description" content="喵喵日记,多人分享日记社区,公开的,快乐的">
    	<meta name="author" content="Kvkens(kvkens@qq.com)">
    	<link rel="icon" href="./libs/favicon.ico">
		<title>喵喵日记 - 多人分享日记社区 公开的 快乐的</title>
		<!-- Bootstrap core CSS -->
    	<link href="./libs/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    	<link href="./libs/bootstrap/dist/css/bootstrap-theme.min.css" rel="stylesheet">
		<style>
			.body-main{
				margin-top:65px;
				/*background: #1B6D85;*/
			}
			.body-news{
				border-bottom: 1px solid #ececec;
			}
			.footer{
				margin-top:20px;
			}
		</style>
		<!-- Bootstrap core JavaScript================================================== -->
	    <!-- Placed at the end of the document so the pages load faster -->
	    <script src="./libs/jquery/dist/jquery.min.js"></script>
	    <script src="./libs/bootstrap/dist/js/bootstrap.min.js"></script>
	</head>
	<body>
		 <nav class="navbar navbar-inverse navbar-static-top">
	      <div class="container">
	        <div class="navbar-header">
	          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
	            <span class="sr-only">Toggle navigation</span>
	            <span class="icon-bar"></span>
	            <span class="icon-bar"></span>
	            <span class="icon-bar"></span>
	          </button>
	          <a class="navbar-brand" href="/">喵喵日记社区</a>
	        </div>
	        <ul class="nav navbar-nav">
              <li><a href="/">首页</a></li>
              <li><a href="/">发现</a></li>
              <li><a href="/">关于本站</a></li>
            </ul>
	        <div id="navbar" class="navbar-collapse collapse">
	          <form class="navbar-form navbar-right">
	            <div class="form-group">
	              	<a href="./Login" class="btn btn-success">登录</a>
	            </div>
	            <div class="form-group">
	              	<a href="./Join" class="btn btn-default">加入</a>
	            </div>
	          </form>
	        </div><!--/.navbar-collapse -->
	      </div>
	    </nav>
	    <div class="container">
	    	<%-body -%>
	    </div>
		
		<footer class="footer">
	      <div class="container">
	        <p class="text-muted">本站基于Node.js v0.12.9 技术构建 主要用于技术讲解</p>
	        <p class="text-muted">Copyright&nbsp;&copy;&nbsp;2016 喵喵日记 Power by Kvkens</p>
	      </div>
	    </footer>

	</body>
</html>
